/* estilos trivia */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.juego, .tablero {
  width: 50%;
}

.centrado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.3rem;}

.columnas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#instrucciones {
  display: none;
  position: fixed;
  background-color: rgba(250, 220, 0, 0.9);

  border: solid 1px black;
}

#instrucciones ul {list-style: none; padding: 0}
#instrucciones ul li {display: list-item;}

#pregunta, #mensajes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;

  border: solid 1px black;
}

form {display: none;}

.jugador {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: solid 1px rgba(0, 0, 0, 0.1);
}

#bloques1, #bloques2 {
  height: 25rem;
}

.bloque {
  width: 100%;
  height: 5rem;
}

.azul { background-color: rgba(0, 0, 255, 0.7); height: 18%}
.rojo { background-color: rgba(255, 0, 0, 0.7);}
.verde { background-color: rgba(0, 255, 55, 0.7);}
.amarillo { background-color: rgba(255, 255, 0, 0.7);}
.blanco { background-color: rgba(255, 255, 255, 0.8);}
.negro { background-color: rgba(0, 0, 0, 0.9); height: 100%}

.mensajeAlerta {
  display: none;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  background-color: rgba(250, 220, 0, 0.9);

  border: solid 1px black;
}