/* reset y visualización*/
* {box-sizing: border-box; 
  /*border: solid 1px black;*/}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#contenedor {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

header, footer, main {
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columnas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; 
}

.centrado, #bloques1, #bloques2 {
  display: flex;
  flex-direction: column; /* apila hacia arriba */
  justify-content: flex-end;
  align-items: center;    /* centra horizontalmente */

  margin: 0rem auto;
}

#bloques1, #bloques2 {
    height: 10rem;
}

#iniciarTrivia {
  justify-content: center;
}

button {
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.bloque {
  width: 30rem;
  height: 15rem;
  margin: 0.5rem;
  display: inline-block;
}

.azul { background-color: blue; }
.rojo { background-color: red; }
.verde { background-color: green; }
.amarillo { background-color: yellow; }
.blanco { background-color: white; border: solid 1px black; }
.negro { background-color: black; }


.mensajeGrande {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}

.mensajeGanador {
  color: whitesmoke;
  background-color: rgba(0, 200, 100, 0.6);
}

.mensajePerdedor {
  color: whitesmoke;
  background-color: rgba(200, 0, 100, 0.6);
}
